/* Header */

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  background-image: url(BG.png);
  height: 100vh;
  background-position: top center;
  background-size: 100%%;
  background-repeat: no-repeat;
}

ul{
  list-style-type: none;
  float: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  font-weight: 600;
  color: #000;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #338b85;
  color: #fff;
}

ul li.active a{
  background-color: #338b85;
  color: #fff;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1{
  color: #338b85;
  font-size: 4rem;
}

.sub-title{
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-title h4{
  color: #338b85;
}

.button{
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  border: 1px solid #338b85;
  padding: 10px 30px;
  color: #338b85;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: #338b85;
  color: #fff;
}

/* Container */

.container{
  position: relative;
  width: 1200px;
  min-height: 366px;
  margin: 240px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box{
  position: relative;
  width: 250px;
  height: 366px;
  margin-left: 5rem;
  box-sizing: border-box;
  display: inline-block;
}

.vl{
  border-left: 6px solid #a9a9a9;
  height: 366px;
  display: inline-block;
  margin-left: 5rem;
}

.container .box .content-image{
  position: relative;
  overflow: hidden;
}

.container .box .content-imageimg{
  max-width: 100%;
  transition: transform 2s;
}

.container .box:hover .content-image img{
  transform: scale(1.2);
}

.container .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform .5s;
}

.container .box:hover .details{
  transform: scaleY(1);
}

.container .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.container .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: #338b85;
}

.container .box .details .content p{
  margin: 10px 0 0;
  padding: 0;
}


/*
width: auto ;
height: calc(366px - 30px);
margin: 15px;
margin-left: 70px;
overflow: hidden;
border-radius: 0.625rem;
display: inline-block;
cursor: pointer; */

/* .container .box .content-image.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .content-image.img{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  cursor: pointer;
  opacity:0;
  top: 20px;
  right: calc(50% - 80px);
} */
