.mediaViewInfo {
	--web-view-name: Web 1366 – 1;
	--web-view-id: Web_1366___1;
	--web-enable-deep-linking: true;
	--web-page-font: Arial;
}
:root {
	--web-view-ids: Web_1366___1;
}
* {
	margin: 0;
	padding: 0;
}
#Web_1366___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1366px;
	height: 768px;
	font-family: Arial;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Web 1366 – 1;
	--web-view-id: Web_1366___1;
	--web-enable-deep-linking: true;
	--web-page-font: Arial;
}
#Group_6 {
	position: absolute;
	width: 1366px;
	height: 769px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_8980 {
	position: absolute;
	overflow: visible;
	width: 1152px;
	height: 768.5px;
	left: 138px;
	top: 0px;
}
#Path_1 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
}
.Path_1 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 684px;
	height: 788px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 548px;
	height: 76px;
	left: 742px;
	top: 692px;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 76px;
	left: 591px;
	top: 692px;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 76px;
	left: 666px;
	top: 692px;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 768px;
	left: 1290px;
	top: 0px;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 76px;
	left: 1290px;
	top: 0px;
}
#Ocean_Tour__ {
	position: absolute;
	left: 104px;
	top: 27px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(65,37,24,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 76px;
	left: 0px;
	top: 0px;
}
#GILI_PARADISE {
	position: absolute;
	left: 203px;
	top: 225px;
	overflow: visible;
	width: 389px;
	white-space: nowrap;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(45,47,48,1);
}
#GILI_MENO {
	position: absolute;
	left: 483px;
	top: 462px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11.5px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(45,47,48,1);
	letter-spacing: 1.5px;
}
#GILI_TRAWANGAN {
	position: absolute;
	left: 261px;
	top: 462px;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11.5px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(45,47,48,1);
	letter-spacing: 1.5px;
}
#GILI_AIR {
	position: absolute;
	left: 138px;
	top: 462px;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -11.5px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(45,47,48,1);
	letter-spacing: 1.5px;
}
.Polygon_2 {
	overflow: visible;
	position: absolute;
	top: 722px;
	left: 620px;
	width: 17px;
	height: 17px;
	transform: rotate(-90deg);
}
.Polygon_3 {
	overflow: visible;
	position: absolute;
	top: 722px;
	left: 696px;
	width: 17px;
	height: 17px;
	transform: rotate(90deg);
}
#Component_1___1 {
	position: absolute;
	width: 21px;
	height: 15px;
	left: 28px;
	top: 31px;
	overflow: visible;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 21px;
	height: 3px;
	left: 0px;
	top: 0px;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 3px;
	left: 0px;
	top: 6px;
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 3px;
	left: 0px;
	top: 12px;
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 13px;
	left: 32px;
	top: 356px;
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 34px;
	top: 409px;
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 34px;
	top: 458px;
}
.Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 34px;
	top: 507px;
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 8px;
	left: 845px;
	top: 726px;
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 4px;
	left: 961px;
	top: 728px;
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 4px;
	left: 1077px;
	top: 728px;
}
#Instagram {
	position: absolute;
	left: 1318px;
	top: 620px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -3px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(67,67,67,1);
	letter-spacing: 1.5px;
}
#Facebook {
	position: absolute;
	left: 1318px;
	top: 448px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -3px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(67,67,67,1);
	letter-spacing: 1.5px;
}
#Twitter {
	position: absolute;
	left: 1318px;
	top: 310px;
	transform: rotate(-90deg);
	transform-origin: left;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -3px;
	text-align: right;
	font-family: Helvetica Neue LT Std, Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(67,67,67,1);
	letter-spacing: 1.5px;
}
#ic_search_white {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1316.5px;
	top: 26.5px;
	overflow: visible;
}
.rectangle {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
.ic_search_white_A0_Path_2 {
	overflow: visible;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 17.5px;
	height: 17.5px;
	transform: matrix(1,0,0,1,0,0);
}